In [3]:
import pandas as pd

# Cargar un archivo CSV en un DataFrame
df = pd.read_csv('trabajador.csv')

In [4]:
# Mostrar la información del DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   trabajador  16 non-null     object
 1   hmin        16 non-null     float64
 2   hmax        16 non-null     float64
 3   dia         18 non-null     int64
 4   tramo       18 non-null     int64
 5   ntienda     18 non-null     int64
 6   nalmacen    18 non-null     int64
dtypes: float64(2), int64(4), object(1)
memory usage: 1.1+ KB
None

In [26]:
# Obtener una lista de todos los nombres de columnas
# Mostrar todas las columnas del DataFrame
print(df[df.columns.tolist()])

   trabajador  hmin   hmax  dia  tramo  ntienda  nalmacen
0       Paula   0.0  100.0    1      1        5         3
1       Nerea   0.0  100.0    1      2        7         1
2        Luis   0.0  100.0    1      3        3         2
3     Yolanda   0.0  100.0    1      4        8         3
4       Óscar   0.0  100.0    1      5        8         4
5    Bernardo   0.0  100.0    1      6        6         2
6       Lidia   0.0  100.0    2      1        4         6
7       Elena   0.0  100.0    2      2        7         3
8      Daniel   0.0  100.0    2      3        2         2
9       Ángel   0.0  100.0    2      4        7         4
10      Lucía   0.0  100.0    2      5        3         1
11      Marta   0.0  100.0    2      6        1         5
12      Jaime   0.0  100.0    3      1        4         3
13     Juanan   0.0  100.0    3      2        6         1
14     Noelia   0.0  100.0    3      3        8         4
15      Paola   0.0  100.0    3      4        8         4
16        NaN   NaN    NaN    3      5        4         4
17        NaN   NaN    NaN    3      6        3         5

In [6]:
# Seleccionar una columna
print(df['trabajador'])

0        Paula
1        Nerea
2         Luis
3      Yolanda
4        Óscar
5     Bernardo
6        Lidia
7        Elena
8       Daniel
9        Ángel
10       Lucía
11       Marta
12       Jaime
13      Juanan
14      Noelia
15       Paola
16         NaN
17         NaN
Name: trabajador, dtype: object

In [8]:
conteo_total = df['trabajador'].count()
print("\nNúmero total de elementos en la columna 'trabajador':", conteo_total)

Número total de elementos en la columna 'trabajador': 16

In [16]:
#quien a trabajado menos o igual a 2 dias 
# Filtrar filas basadas en una condición
print(df[df['dia'] <= 2])

   trabajador  hmin   hmax  dia  tramo  ntienda  nalmacen
0       Paula   0.0  100.0    1      1        5         3
1       Nerea   0.0  100.0    1      2        7         1
2        Luis   0.0  100.0    1      3        3         2
3     Yolanda   0.0  100.0    1      4        8         3
4       Óscar   0.0  100.0    1      5        8         4
5    Bernardo   0.0  100.0    1      6        6         2
6       Lidia   0.0  100.0    2      1        4         6
7       Elena   0.0  100.0    2      2        7         3
8      Daniel   0.0  100.0    2      3        2         2
9       Ángel   0.0  100.0    2      4        7         4
10      Lucía   0.0  100.0    2      5        3         1
11      Marta   0.0  100.0    2      6        1         5

In [19]:
#quien ha trabajado menos o igaul a 2 dias en la tienda 5
# Filtrar filas basadas en múltiples condiciones
print(df[(df['dia'] <= 2) & (df['ntienda'] == 8)])

  trabajador  hmin   hmax  dia  tramo  ntienda  nalmacen
3    Yolanda   0.0  100.0    1      4        8         3
4      Óscar   0.0  100.0    1      5        8         4